@model IEnumerable<BanMiCay.Models.KhachHang>

@{
    ViewData["Title"] = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách khách hàng</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Makh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dienthoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Đã đăng kí
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Daxoa)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Makh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dienthoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            @if (item.Matkhau == null)
            {
                <td></td>
            }
            else
            {
                <td><i class="bi bi-check-circle-fill text-success"></i></td>
            }

            @if (item.Daxoa == 0)
            {
                <td></td>
            }
            else
            {
                <td><i class="bi bi-x-circle-fill text-danger"></i></td>
            }
            <td>
                <a asp-action="Details" asp-route-id="@item.Makh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Makh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
