
@model IEnumerable<BanMiCay.Models.HoaDon>;
<h1 class="text-info">Thống kê theo hóa đơn đã duyệt</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThongKeTheoHoaDonDaDuyet">
        </form>
    </div>
</div>

<div class="border border-secondary">
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã hóa đơn</th>
                <th>Khách hàng</th>
                <th>Số điện thoại</th>
                <th>Ngày lập</th>
                <th>Tổng tiền</th>
            </tr>
        </thead>
        <tbody>
            @{
                int stt = 1;
                foreach (HoaDon hd in Model)
                {
                    <tr>
                        <td>@stt</td>
                        <td>@hd.Mahd</td>
                        <td>@hd.MakhNavigation.Ten</td>
                        <td>@hd.MakhNavigation.Dienthoai</td>
                        <td>@hd.Ngay</td>
                        <td>@hd.Tongtien</td>
                        <td><a asp-action="Details" asp-route-id="@hd.Mahd">Chi Tiết</a></td>
                    </tr>
                    stt++;
                }
            }
        </tbody>

    </table>
</div>