@model BanMiCay.Models.DiaChi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DiaChi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phuongxa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phuongxa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quanhuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quanhuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tinhthanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tinhthanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Macdinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Macdinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Daxoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Daxoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakhNavigation.Dienthoai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Madc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
