@model IEnumerable<BanMiCay.Models.DiaChi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Diachi1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phuongxa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quanhuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tinhthanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Macdinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Daxoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phuongxa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quanhuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinhthanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Macdinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Daxoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakhNavigation.Dienthoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Madc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Madc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Madc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
