@model IEnumerable<BanMiCay.Models.DanhMuc>

@{
    ViewData["Title"] = "Danh mục sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh mục sản phẩm</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Madm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Madm">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Madm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
